html {
  position: relative;
  min-height: 100%; 
} 
body {  
    padding-top: 70px;
    height: 100%;
    margin: 0 auto -155px; 
    overflow-x: hidden; 
} 
.text-muted{
	color:#fff !important;
}
.container1 {
      width: auto;
    padding: 0px 0px 0px 15px;
    border-top: 1px solid #fff;
}
.container1 .text-muted {
  margin: 10px 0;
}
.navbar-custom {
    color: #fff;
    background-color: #0a001f;
    border-color: #0a001f;
    border-radius:0;
}
.navbar-custom .navbar-nav > li > a {
    color:#fff;
} 
.navbar-custom .navbar-nav > .active > a {
    color: #ffffff;
    background-color:transparent;
}

.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus,
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus,
.navbar-custom .navbar-nav > .open >a {
    text-decoration: none;
    background-color: #fff;
    color:#000;
}
.navbar-custom .navbar-brand {
    color:#eeeeee;
} 
.navbar-custom .navbar-toggle {
    background-color:#0a001f;
}
.navbar-custom .navbar-toggle:hover {
    background-color:#0a001f;
}
.navbar-custom .icon-bar {
    background-color:#33aa33;
}
.navbar-custom .navbar-nav .dropdown-menu  { 
  background-color: #0a001f;
}
.navbar-custom .navbar-nav .dropdown-menu>li>a  { 
  color: #fff;
}
.navbar-custom .navbar-nav .dropdown-menu>li>a:hover,.navbar-custom .navbar-nav .dropdown-menu>li>a:focus  { 
  color: #000;
}

.stylish-input-group .form-control{
	border-right:0; 
	box-shadow:0 0 0; 
	border-color:#ccc;
}
.stylish-input-group button{
    border:0;
    background:transparent;
}
.sub-container{
	 margin:10px 0px 10px 0px;
}
.bottom-border{
	  border-bottom: 1px solid #fff; 
}
.page-title{
  color:#0a001f;
  text-transform:uppercase;
  border-bottom:1px solid #0a001f;
  margin-bottom: 30px;
} 
.page-title h3{
  font-weight: bold;
}
.header-home img{
  max-height:500px;
  width:100% 
}
hr.blue-line{
   background-color: #0a001f; 
   height: 2px; 
   border: 0; 
} 
.maxsize{
    max-width:1200px;
    margin: auto;
    padding: 0;
}
.services{
  text-align: center; 
}
.services-2 img{
  max-height:250px;
  width:100%;
  margin-bottom: 20px;
}
.home-title{
  font-size:30px;
  color:#0a001f;
  font-weight: bold;
  text-align: center;
}
.option-list{
  background: #DCDCDC;
      padding: 10px 0px 0px 10px;
}
.option-list-2{
  background: #0a001f;
  padding: 10px 0px 0px 0px;
   /* margin-top: 50px;*/
    height: 540px;
    overflow: scroll;
    color:#fff;
}
.option-list li.check{
    background: url(/images/next2.png) no-repeat left top;
    height: 30px;
    padding-left: 30px;
    margin-bottom: 3px;
}
.option-list-2 li.check{
    background: url(/images/contract.png) no-repeat left top;
    /*height: 30px;*/
    padding-left: 30px;
    margin-bottom: 3px;
}
.option-list-2 li.folder{
    background: url(/images/folder.png) no-repeat left top;
    /*height: 30px;*/
    padding-left: 30px;
    margin-bottom: 3px;
}
.header-home .bx-wrapper{
  border:none !important;
  margin-bottom: 0px !important;
}
.bx-wrapper .bx-next{ 
    background: url('/images/next.png') no-repeat !important;
}
.bx-wrapper .bx-prev{
    background: url('/images/back.png') no-repeat !important;
}

/* Footer */
.navbar-nav {
    float:none;
    margin:0 auto;
    display: block;
    text-align: center;
}

.navbar-nav > li {
    display: inline-block;
    float:none; 
}
.navbar-nav > li > a{
  color:#fff;
}
.navbar-nav > li > a:hover{
  color:#000;
  background-color:#fff;
}
footer{
  background-color: #0a001f;
  color:#fff;
  margin-top: 10px;
}
.footer-menu{ 
  border-bottom:1px solid #fff;
}
footer .navbar{
  margin-bottom: 0px ; 

}  
/* Footer========================================================= */

.about-page img{
  width:100%
}
.header-other img{
  max-height:400px;
  width:100% 
}
.president, .project{
      border-bottom: 1px solid #0a001f;
      margin-bottom: 20px;
      padding-bottom: 30px;
}
.project img{
  margin:auto;
  margin-top: 20px;
  /*opacity: 0.3;*/
  /*-webkit-filter: grayscale(100%);
    filter: grayscale(100%);*/
}
.project a{
  font-size:20px;
  text-decoration: none;
}
.president img{
  border-radius: 50%;
  height: 150px;
}

.last-footer{
  font-size:50px;
}
.last-footer a{
  color:#fff ;
}
.last-footer a:hover{
  color:blue;
}
.CodeMirror{
      height: 500px !important;
}
.option-list-2 li ul{
  /*display: none;*/
}
.navbar-fixed-top{
        border-width: 1px 1px 1px !important;
}
.project img:hover, .project .project-hov:hover img{
  opacity: 0.3;
 filter: sepia(100%);
   /* opacity: 10;*/
} 
.go-to-project{ 
    background: #ff471a;
    color: #fff;
    padding: 5px;
} 
.project .project-hov:hover .middle{
  opacity: 1;
}
.middle{ 
   transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}


/* Editor Tabs============================================== */
      .nav-tabs > li .close {
          margin: -2px 0 0 10px;
          font-size: 18px;
      }
      .marginBottom {
          margin-bottom :1px !important;
      }
      .operationDiv {
          padding:5px 10px 5px 5px;
      }
      .operationDivWrapper {
          margin-top:-1px;
      }
      .leftMenu {
          height :70%;
          background-color: #E6E6E6;
          border-right: 2px solid #BFBFBF;
      }

#texteditor .nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    color:white;
    background-color: #0a001f;
}
.option-list-2 ul.list-inline{
    text-align: center;
    display: block;
}
.option-list-2 input#uploadFile, input#uploadFile{
  display: none;
}

/*--------------------------
          Sidebar
---------------------------*/
#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  padding-top: 39px;
}

#wrapper.toggled {
  padding-left: 250px;
}

#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  left: 250px;
  width: 0;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  background: #101010;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
  width: 250px;
}

#page-content-wrapper {
  width: 100%;
  position: absolute;
  padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
  position: absolute;
  margin-right: -250px;
}

/*----------------------------
        Sidebar Styles 
----------------------------*/

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar-nav li {
  text-indent: 20px;
  line-height: 40px;
}

.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: #999999;
}

.sidebar-nav li a:hover {
  text-decoration: none;
  color: #fff;
  background: rgba(255, 255, 255, 0.2);
}

.sidebar-nav li a:active, .sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav>.sidebar-brand {
  height: 65px;
  font-size: 18px;
  line-height: 60px;
}

.sidebar-nav>.sidebar-brand a {
  color: #999999;
}

.sidebar-nav>.sidebar-brand a:hover {
  color: #fff;
  background: none;
}

@media(min-width:768px) {
  #wrapper {
    padding-left: 0;
  }
  #wrapper.toggled {
    padding-left: 250px;
  }
  #sidebar-wrapper {
    width: 0;
  }
  #wrapper.toggled #sidebar-wrapper {
    width: 250px;
  }
  #page-content-wrapper {
    /*padding: 20px;*/
    position: relative;
  }
  #wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0;
  }
}
.content-wrap{
  width: auto;
   white-space:nowrap;
}  
 
/*-------------------------------
              Modal
--------------------------------*/ 
.modal-custom {
    display: none;  
    position: fixed;  
    z-index: 1;  
    padding-top: 100px;  
    left: 0;
    top: 0;
    width: 100%;  
    height: 100%;  
    overflow: auto;  
    background-color: rgb(0,0,0);  
    background-color: rgba(0,0,0,0.4); 
    overflow: auto;
}
 
.modal-content-custom {
    background-color: #cfcfcf;
    margin: auto;
    padding: 20px;
    border: 3px solid #000;
    width: 50%;
    margin-top: 100px; 
    color: #000;
  position: relative;
  display: block;  
}
 
.close-custom {
    color: #000; 
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    right: 1px;
    bottom: 113px;
} 

.close-custom:hover,
.close-custom:focus {
    color: red;
    text-decoration: none;
    cursor: pointer;
}
.modal-content-custom .form-control{
      border: 1px solid #000;
    color: #000;
} 

/*-------------------------------
              Blog
--------------------------------*/ 
.blog-img-height{
  height: 350px;
  overflow: hidden;
}
.blog-img-height img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}    
.blog-gallery{ 
  overflow: hidden;
  padding: 3px;
}  
.blog-post{
    position: absolute;
    top: 55%;
    left: 3px;
    width: 90%;
    display: block;
    padding: 8px 8px 8px 48px;
    background-color: rgba(0,0,0,0.5);
    z-index: 200;
    color: #fff;
} 
.blog-post h2 a{
  color: #fff;
  font-weight: bold;
}
.blog-img-height img:hover, 
.blog-sidebar img:hover,
.services-2 img:hover{
 cursor: pointer;
  filter:grayscale(100%);
}
.blog-sidebar h4{
  color:#fff;
  font-weight: bold;
  font-size: 25px;
}
.blog-sidebar ul li a{
  color:#fff; 
}
.blog-sidebar hr{
    border-top: 2px solid #fff;
    margin-top: 14px;
    margin-bottom: 20px;
}
.blog-sidebar ul li{
  margin-top: 10px;
}
.blog-sidebar{
  background:rgba(0,0,0,0.5);
}
.blog-sidebar img{
  margin:auto;
} 

/*-------------------------------
          Contact Info
--------------------------------*/ 
.contact-info h3{ 
    color: #0a001f;
    font-weight: bold;
    border-left: 2px solid #0a001f;
    padding-left: 5px;
}
.contact-info p{  
  padding-left: 7px;
  color: #000;
}
.contact-form label, .contact-form input[type=text]{
  color: #000;
}
.error-captcha{
  font-size:15px;
  font-style:italic;
  font-weight:bold
}


/*-------------------------------
          Mobile CSS
--------------------------------*/ 
@media screen and (max-width: 768px) {
  .blog-sidebar{
    padding-bottom:2px;
    padding-top:2px;
  } 
  /*#searchText{
    visibility: hidden;
  } 
  span.input-group-addon:hover ~ #searchText,
  #searchText:focus{
     visibility: visible;
  }*/
}